# .NET build output
**/bin/
**/obj/

# Test results
**/Tests/

# User-specific / IDE
.vs/
.vscode/
*.user
*.suo

# Git
.git/
.gitignore

# Node (agar React use ho)
**/node_modules/

# Logs
**/*.log

# Docker
deployment/docker-compose.yml
Dockerfile*

# OS files
.DS_Store
Thumbs.db
